@tailwind base;
@tailwind components;
@tailwind utilities;

.html:not([data-theme]){
  opacity: 0;
  visibility: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 5s ease infinite;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media () {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
